* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

body {
    background-color: #f5a64a;
    margin: auto;
}

.screen {
    display: flex;
    flex-wrap: wrap;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    width: 200px;
    margin: auto;
}

.rightside {
    width: 400px;
    background-color: rgb(245, 166, 74);
    padding: 60px;
}

span {
    font-size: 13px;
    justify-content: right, end;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: orangered;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}


/* desktop version */

@media screen and (min-width:700px) {
    .leftside img {
        width: 90%;
    }
}