* {
    box-sizing: border-box;
}

body {
    background-color: orange;
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
}