* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: orange;
    margin: 0;
    /* flex-wrap: wrap; */
}

.screen {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: orange;
    padding: 60px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: orangered;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}